*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Utilities*/



/* / Utilities */


/* Layout */

header{
    height: 85px;
    position: fixed;
    width: 100vw;
    z-index: 20;
    line-height: 85px;
}


main{

}

footer{

}


/* / Layout */


/* Debug */

.debug header{
    border: 2px dashed rgb(0, 255, 0);
    height: 85px;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.debug header .logo,
.debug header #nav-left,
.debug header #nav-right,
.debug header .login{
    float: left;
    height: 100%;
}
.debug header .logo{
    border: 2px dashed rgb(0, 205, 0);
    width: 10%;
}

.debug header #nav-left{
    border: 2px dashed rgb(0, 155, 0);
    width: 40%;
}

.debug header #nav-right{
    border: 2px dashed rgb(0, 55, 0);
    width: 40%;
}

.debug header .login{
    border: 2px dashed rgb(0, 105, 0);
    width: 10%;
}

.debug footer{
   
}
/* / Debug */