*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Utilities*/
ul{
    list-style-type: none;
}


/* / Utilities */


/* Layout */

header{
    height: 85px;
    position: fixed;
    width: 100vw;
    z-index: 20;
    line-height: 85px;
}


main{

}

footer{

}

header .logo,
header #nav-left,
header #nav-right,
header .login{
    float: left;
    height: 100%;
}

header .logo,
header .login{
    width: 10%;
}

header #nav-left,
header #nav-right{
    width: 40%;
}

header #nav-left{
    padding-left: 40px;
}

header #nav-right{
    padding-right: 40px;
}


#nav-left li,
#nav-right li{
    display: inline-block;
}

#nav-left li{
    margin-right: 20px
}

#nav-right li{
    margin-left: 20px;
}

header li:hover{
    border-bottom: 2px solid gray;
}

header li a{
    color: black;
    text-decoration: none;
}

header li a:hover{
    color: rgb(83, 83, 214);
}
/* / Layout */


/* Debug */

.debug header{
    border: 2px dashed rgb(0, 255, 0);
    height: 85px;
    position: fixed;
    width: 100%;
    z-index: 20;
    line-height: 85px;
}

.debug header .logo,
.debug header #nav-left,
.debug header #nav-right,
.debug header .login{
    float: left;
    height: 100%;
}
.debug header .logo{
    border: 2px dashed rgb(0, 205, 0);
    width: 10%;
}

.debug header #nav-left{
    border: 2px dashed rgb(0, 155, 0);
    width: 40%;
    padding-left: 40px;
}

.debug header #nav-right{
    border: 2px dashed rgb(0, 55, 0);
    width: 40%;
    text-align: right;
    padding-right: 40px;
}

.debug #nav-left li,
.debug #nav-right li{
    display: inline-block;
}

.debug #nav-left li{
    margin-right: 20px;
}

.debug #nav-right li{
    margin-left: 20px;
}

.debug header li:hover{
    border-bottom: 2px solid gray;
}

.debug header li a{
    color: black;
    text-decoration: none;
}

.debug header li a:hover{
    color: rgb(83, 83, 214);
}


.debug header .login{
    border: 2px dashed rgb(0, 105, 0);
    width: 10%;
}

.debug footer{
   
}
/* / Debug */